.form {
  
}

.input {
  height: 2rem;
  width: 10rem;
  padding-left: 1rem;
  z-index: 10;
  border-radius: 15px;
  border: none;
}

.button {
  height: 2.18rem;
  border-radius: 15px;
  border: none;
}