<article class="app-hero">
  <h2 id="fact">
    Aang was a master of airbending, indicated by his tattoos. He was able
    to create an invisible wall of air in front or around him with one
    gesture, enough to repel two Fire Nation soldiers. He was able to
    jostle a Fire Nation soldier around without hitting the innocent
    bystander the soldier was holding hostage.
  </h2>
</article>    

<style>
  @font-face {
    font-family: Laila;
    src: url("/fonts/Laila-Regular.ttf");
  }

  .app-header {
    display: flex;
    justify-content: center;
    font-family: Laila;
  }

  #air-bending-symbol {
    height: 4rem;
    width: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
</style>