<header class="app-header">
  <h1 class="app-title">Midfulness</h1>

  <img id="air-bending-symbol" alt="airbender-symbol" src='/images/airbender-symbol.png'/>

  <h1>distractor</h1>
</header>

<style>
  @font-face {
    font-family: "Laila";
    src: url("../../assets/fonts/Laila-Bold.ttf") format("true type");
    font-style:normal;
  }

  .app-header {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
    color: white;
  }

  h1 {
    font-family: Laila;
    font-style: normal;
    font-weight: 600;
     font-size: calc(8px + 4vmin);
  }

#air-bending-symbol {
  height: 6vh;
  width: 6vh;
  padding: 1vh;
}
</style>
