.card {
  height: 40.1vh;
  width: 40vh;
  margin: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("images/aang-in-ice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(66, 66, 65);
  font-weight: bold;
  border-radius: 7px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
 
      
    /* &_boundary {
      background-color: rgb(254, 254, 254);
      
    &_boundary:hover {
      box-shadow: 0 0 50px 15px #48abe0;
      transform: scale(1.01);
    }
  } */
}

.value {
/* // background-image: url("../../assets/images/aang-in-ice.jpg");
// background-repeat: no-repeat; */
  display: flex;
  border-radius: 2%;
  transition: transform .2s;
  font-size: 17px;
  padding: 10px;
}
/* .wind-card_section {
  display: flex;
  justify-content: center;
  align-items: center;
} */