.card {
  height: 40.1vh;
  width: 40vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../../../public/images/aang-in-ice.jpg");
  background-repeat: none;
  color: rgb(209, 232, 237);
  border-radius: 5px;
      
    /* &_boundary {
      background-color: rgb(254, 254, 254);
      
    &_boundary:hover {
      box-shadow: 0 0 50px 15px #48abe0;
      transform: scale(1.01);
    }
  } */
}

.value {
/* // background-image: url("../../assets/images/aang-in-ice.jpg");
// background-repeat: no-repeat; */
  display: flex;
  border-radius: 2%;
  transition: transform .2s;
}
  